.container {
  width: 500px;
  margin: 50px auto;
  border-radius: 10px;
}
.img-emoji {
  font-size: 40px;
}
.card-text {
  border: 1px solid gray;
}
input.search {
  border-radius: 10px;
}

#list-one {
  list-style-type: none;
}
#number {
  font-size: 40px;
}
li:first-letter {
  text-transform: capitalize;
}

.weather-forecast {
  text-align: center;
  margin-top: 20px;
}
.weather-forecast-temp {
  font-size: 12px;
}

#forecast {
  text-align: center;
  margin-left: 10px;
}
